registry=https://tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/registry/ 
                        
always-auth=true

#NHZsbHBtNms0em5mdnRodGQ0bWlzdncydXFvcTZybmg0c2xwajN4d2hweG5qaDRoYWdzcQ==
#4vllpm6k4znfvthtd4misvw2uqoq6rnh4slpj3xwhpxnjh4hagsq

; begin auth token
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/registry/:username=DWCollection1
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/registry/:_password=NHZsbHBtNms0em5mdnRodGQ0bWlzdncydXFvcTZybmg0c2xwajN4d2hweG5qaDRoYWdzcQ==
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/registry/:email=Silviya.Deyanova@docuware.com
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/:username=DWCollection1
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/:_password=NHZsbHBtNms0em5mdnRodGQ0bWlzdncydXFvcTZybmg0c2xwajN4d2hweG5qaDRoYWdzcQ==
//tfs.docuware.com/tfs/DWCollection1/8da57312-74bf-4611-a4c9-b51b5bd2c3b6/_packaging/WebClientLibraries/npm/:email=Silviya.Deyanova@docuware.com
; end auth token