#mainPage {
  display: flex;
  justify-content: center;
  margin: 140px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 90px;
  height: 32px;
  border-radius: 5px;

  &:hover {
    background-color: aliceblue;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

input {
  border-radius: 5px;
  height: 26px;
  width: 400px;
  margin-right: 10px;
}

#title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  p {
    font-weight: bolder;
    font-size: xx-large;
  }
}

#searchbar {
  display: flex;
  justify-content: center;
}

#searchResult {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

#book {
  margin: 25px;
  border: 2px groove cadetblue;
  border-radius: 7px;
  padding: 10px;
  max-width: 280px;
  max-height: 250px;
}