#mainPage {
  display: flex;
  justify-content: center;
  margin: 70px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
  background-color: field;
  display: inline-block;
  width: 9%;
  padding: 0;

  &:hover {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

input {
  height: 28px;
  width: 88%;
  border: none;
  margin-left: 5px;
  &:focus {
    border: none;
    outline: none;
  }
}

#title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  p {
    font-weight: bolder;
    font-size: xx-large;
  }
}

#searchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

#book {
  margin: 25px;
  border: 2px groove cadetblue;
  border-radius: 7px;
  padding: 20px;
  width: 270px;
  height: 240px;
  background-color: whitesmoke;
  cursor: pointer;

  h4,
  h2 {
    margin: 5px;
  }

  h4 {
    font-style: italic;
  }
}
.inputData {
  width: 440px;
  margin: 0 auto;
}

.inputData {
  border: 2px inset rgb(133, 133, 133);
  border-radius: 5px;
  height: 30px;
  background-color: field;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 440px;

  #searchList {
    border-radius: 3px;
    box-shadow: 0px 1.5px 5px 1px rgba(155, 154, 154, 0.75);
    background-color: rgb(255, 255, 255);
    min-height: 90px;
    width: 440px;
    position: absolute;

    p {
      margin: 0;
      padding: 5px;
      &:hover {
        background-color: rgb(245, 240, 240);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}

.hide {
  visibility: hidden;
}
