#mainPage {
  display: flex;
  justify-content: center;
  margin: 100px;
}

#content {
  display: flex;
  flex-direction: column;
}

button {
  width: 90px;
  height: 32px;
  border-radius: 5px;

  &:hover {
    background-color: aliceblue;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
}

input{
    border-radius: 5px;
    height: 26px;
    width: 400px;
    margin-right: 10px;
}
