<div id="mainPage">
  <div id="content">
    <div id="title">
      <p>Home</p>
    </div>
    <div id="searchbar">
      <div class="inputData">
        <input
          [(ngModel)]="searchTerm" name="searchTerm" type="text" placeholder="Search book" (ngModelChange)="searchBook(searchTerm)" 
          (keyup.enter)="changeTheMostRatedCotent(searchTerm)"/>
        <!-- <button (click)="searchBook(searchTerm)">🔎</button> -->
        <button (click)="changeTheMostRatedCotent(searchTerm)">🔎</button>
      </div>
      <div class="wrapper">
        <div id="searchList" *ngIf="foundBooks" [class.hide]="foundBooks.length === 0 || isHidden" #hide>
          <p *ngFor="let book of foundBooks" [routerLink]="['/home/book-description/' + book.id]" routerLinkActive="active">{{ book.title }}</p>
        </div>
      </div>
    </div>
    <div id="searchResult" *ngIf="mostRatedBooks">
      <div id="book" *ngFor="let book of mostRatedBooks">
        <h2 [routerLink]="['/home/book-description/' + book.id]" routerLinkActive="active">{{ book.title }}</h2>
        <h4>{{ book.author }}</h4>
        <p>{{ book.resume }}</p>
        <button [class.hide]="!loginService.isLoggedIn()" [routerLink]="['/home/edit/' + book.id]" routerLinkActive="active">Edit content</button>
      </div>
    </div>
  </div>
</div>
