#mainPage {
  display: flex;
  justify-content: center;
  margin: 80px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 2px groove cadetblue;
  border-radius: 10px;
  padding: 60px;
}

#title {
  width: 80%;
  h3 {
    font-style: italic;
  }
}

#description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-height: 380px;

  img {
    height: 60%;
    width: fit-content;
  }
  p {
    width: 50%;
  }
}
