<div id="header">
  <div id="logo">
    <p>Book repository</p>
  </div>
  <div id="navigation">
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li><a href="#">All books</a></li>
      <li><a href="#">Edit profile</a></li>
    </ul>
  </div>
  <div id="buttons">
    <button mat-button class="primary"(click)="openLoginDialog()" *ngIf="!loginService.userPublicData">Login</button>
    <button mat-button class="primary" *ngIf="loginService.userPublicData" (click)="logout()">Logout</button>
    <button mat-button class="secondary">Register</button>
  </div>
</div>
