<!-- <div id="mainPage">
    <div id="content">
      <div id="title">
        <h1>{{ data.title }}</h1>
        <h3>{{ data.author }}</h3>
      </div>
      <div id="description">
        <img src="{{ bookInfo.cover }}" />
        <textarea [(ngModel)]="bookInfo.resume" name="resume"></textarea>
      </div>
      <button (click)="submit()">Submit changes</button>
    </div>
  </div> -->

<div class="container">
  <h2 mat-dialog-title>Edit</h2>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="title" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="author" type="text" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="resume" type="text"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    <button mat-raised-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
