<div class="container">
  <h2 mat-dialog-title>Edit</h2>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="title" type="text" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="author" type="text" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="resume" type="text"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="
        !form.controls.title.dirty &&
        !form.controls.author.dirty &&
        !form.controls.resume.dirty
      "
    >
      Submit
    </button>
    <button mat-raised-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
