<div>
  <h2 mat-dialog-title>Edit</h2>

  <mat-dialog-content [formGroup]="form">
    <input formControlName="title" type="text" />
    <input formControlName="author" type="text" />
    <textarea formControlName="resume" type="text"></textarea>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      class="primary"
      (click)="submit()"
      [disabled]="
        !form.controls.title.dirty &&
        !form.controls.author.dirty &&
        !form.controls.resume.dirty
      "
    >
      Submit
    </button>
    <button
      mat-button
      cdkFocusInitial
      [mat-dialog-close]="true"
      class="primary"
      (click)="close()"
    >
      Close
    </button>
  </mat-dialog-actions>
</div>
